<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <form class="form" action="">
        <div>
            <h2 class="centralIot">CENTRAL IoT</h2>
        </div>

        <div class="loginsenha">
            <label>Usuário:</label>
            <input type="text" name="usuario">
        </div>

        <div class="loginsenha">
            <label>Senha:</label>
            <input type="password" name="senha">
        </div>

        <div class="loginsenha">
            <button type="submit">LOGIN</button>
        </div>
    </form>
</body>
</html>